/hypr/scheme/current.conf
/hypr/scheme/current.lua

/spicetify/config-xpui.ini
/spicetify/Themes/caelestia/color.ini

/btop/btop.log
/btop/themes/

/fish/fish_variables
/fish/conf.d/

.SRCINFO

# makepkg build artifacts
*.pkg.tar.zst
*.pkg.tar.xz
/pkg/
/src/

# symlink stub (actual file is tracked under zen/)
/userChrome.css

# editor/tool backups
*.bak
*.orig
